.login-signup-div {
  display: flex;
  padding: 1px;
  margin-left: 100px;
  margin-right: 100px;
}

.login-link {
  display: flex;
  padding: 1px;
}

.signin-link {
  display: flex;
  padding: 1px;
  margin-left: 11px;
}

.user-menu {

}

.logout-button {

}