.grid {
    margin: 0;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
}
.grid {
    max-width: 90vw;
    margin: 0 auto;
    padding: 0;
}

.main-content{
    max-width: 90vw;
    margin: 0 auto;
    padding: 0;
    border-color: white;
}
.centered-medium {
    text-align: center !important;
}

div {
    display: block;
}

.grid__item--large {
    grid-column: 3 / -3;
}
.grid__item {
    grid-column: 3 / -3;
    width: 100%;
    direction: ltr;
}
.heading--xx-large {
    font-size: 330%;
}
.heading {
    margin: 0 0 0.25em 0;
    font-size: 250%;
    line-height: 1.05;
}
h1 {
    margin: 0.5em 0;
    font-size: 250%;
    letter-spacing: -0.03em;
    line-height: 1;
}
h1, h2, h3, h4, h5, h6 {
    margin: 2em 0 0.25em 0;
    padding: 0;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: -0.02em;
}
*, *:before, *:after {
    box-sizing: border-box;
}
:-webkit-any(article, aside, nav, section) h1 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.grid__item {
    grid-column: 3 / -3;
    width: 100%;
    direction: ltr;
}

.flush--bottom {
    margin-bottom: 0 !important;
}
p, ul, ol {
    margin: 0 0 1em 0;
    padding: 0;
    line-height: 1.5;
    letter-spacing: -0.02em;
}
*, *:before, *:after {
    box-sizing: border-box;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.push_half--bottom {
    margin-bottom: 0.625em !important;
}

.push--top {
    margin-top: 1.25em !important;
}

.centered {
    text-align: center;
}

.btn--add-icon {
    background-image: url(https://raw.githubusercontent.com/droid4alex/Democamp/fee1fa62e3dcd7f975cd7bbb24839ee63a6f8b29/app/assets/images/plus.svg);
}

.btn--with-icon {
    padding-left: 2.25em;
    background-position: 0.75em center;
    background-repeat: no-repeat;
    background-size: 1.25em auto;
}

.btn--small {
    font-size: 1.3rem;
    padding-top: 0.425em;
    padding-bottom: 0.425em;
}

.btn {
    display: inline-block;
    padding: 0.5em 1em;
    border-radius: 1.5em;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    white-space: normal;
    cursor: pointer;
}

.project-index__header, .project-index__description {
    color: #877457;
    font-weight: bold;
    display: block;
    justify-content: space-between;
    font-size: 40px;

}

.project-index__toolbar {
    display: block;
    justify-content: space-between;
    top: 0;
    left: auto;
    right: 0;
    z-index: 4;
    margin: -0.5rem 0 0 0;
    color: #000;
}

.centered {
    text-align: center;
}


.project-index__toolbar--new {
    display: flex;
    left: 0;
    right: auto;
    align-items: center;
}

.options-menu__expansion-toggle{
    display: flex;
}

.bc-tools{
    position: relative;
}

.bc-tools__nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    transition: all 0.2s ease-in-out;
}
.bc-tools__nav-projects{
    margin: 10px;
}

.bc-tools__nav_nest{
    justify-content: space-around;
}

.bc-tools__item{
    display: block;
    margin: 0 0 1em 0;
    text-decoration: none;
    border-radius: 0.5rem;
    color: #1d2d35;
    background-color: #fff;
    box-shadow: 0 0 1rem gray;
    text-align: center;
    border: 0.2rem solid #fff;
    transition: all 0.2s ease-in-out;
    width: 31%;
    padding: 1.5em;
}

.bc-tools__item--pulse:hover{
    animation: border-pulse 1s 0.8;
    animation-delay: 0s;
}

@keyframes border-pulse{
    30% { border-color: #ffe000; }
    100% { border-color: #fff; }
}

img {
    border: 20px solid cyan;
    animation: border-pulsate 2s infinite;
}

.bc-tools__title{
    margin: 0.1em;
    font-size: 100%;
}

.bc-tools__icon{
    width: 3em;
    height: 3em;
    margin: 0.5em;
}

.bc-tools__summary{
    margin: 0;
    font-size: 75%;
}

.card-grid--projects{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding: 10px;
    width: 100%;
    align-items: center;
}

.card__link{
    width: 45vh;
    font-size: 100%;
    text-decoration: none;
    vertical-align: baseline;
    background: transparent;
    margin: 8px;
    padding: 0;
    color: inherit;
    transition: all 0.2s ease;
    transition-property: text-decoration-color, text-decoration-thickness, text-decoration-width;
    text-decoration-thickness: 0.1em;
}

.card__content{
    height: 25vh;
    margin: 5px 10px;
    text-align: center;
    background-color: white;
    padding: 10px;
    margin: 0;
    border-radius: 5px;
    box-shadow: 0px 2px 5px transparentize(black, 0.8);

    h1{
        font-weight: bold;
    }
    
    h2{
        margin: 0;
      }
    
    p{
        margin: 0;
        padding: 5px;
        font-size: 16px;
    } 
}

.card__description{
    font-size: 16px;
}

.card__description__icons{
    font-size: 16px;
}