.header {
    display: block;
    top: 0;
    z-index: 19000;
    width: 100%;
}

.a-screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

a {
    font-size: 100%;
    text-decoration: none;
    vertical-align: baseline;
    background: transparent;
    margin: 0;
    padding: 0;
    color: inherit;
    transition: all 0.2s ease;
    transition-property: text-decoration-color, text-decoration-thickness, text-decoration-width;
    text-decoration-thickness: 0.1em;
    text-decoration-width: 0.1rem;
}

a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: none;
}

.top-nav {
    position: relative;
    z-index: 19000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 2rem;
    background-color: rgba(255,255,255,0.95);
}

.democamp-text-div {
    position: absolute;
    margin-left: 59px;
    font-family: Helvetica;
    font-size: 29px;
    font-weight: bold;
    letter-spacing: -1px;
}

#user-icon{
    background-color: blueviolet;
    border: none;
    text-align: center;
    font-size: 20px;
    padding: 0.25em 0.5em;
    font-weight: normal;
}

.top-nav__logo {
    display: block;
    width: 8.25em;
    height: 0em;
    margin: 0;
    padding: 0.1rem;
    margin-bottom: 40px;
}

.top-nav__list {
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 78%;
    font-weight: bold;
}

.top-nav__link:hover {
 text-decoration: underline;
 text-decoration-color:gold;
}

.top-nav__list-item {
    display: inline-block;
    margin: 0 0.25em;
    vertical-align: middle;
}

ul, ol {
    list-style-position: outside;
}

*, *:before, *:after {
    box-sizing: border-box;
}

nav {
    display: block;
}

svg:not(:root) {
    overflow: hidden;
}

a:-webkit-any-link {
    color: -webkit-link;
}

.top-nav__logo .icon {
    fill: #1d2d35;
}


.button--secondary:link, .button--secondary:visited {
    background-color: transparent;
    color: #1d2d35;
    border-color: #1d2d35;
    cursor: pointer
}

.button--secondary:hover {
    border-color:gold;
}

#button-signup {
  color: white;  
  cursor: pointer
}

#button-signup:hover {
  color: gold;  
}

a:visited {
  color:black;
}

.button {
    transition: all 0.2s ease;
    transition-property: color, background-color, border-color;
    display: inline-block;
    padding: 0.5em 1em;
    background-color: #1d2d35;
    color: #fff;
    font-size: 100%;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    line-height: normal;
    -webkit-appearance: none;
    border: 0.1em solid #1d2d35;
    border-radius: 0;
}

.centered-medium {
    margin-top: 20px;
}